<div id="<%= dom_id patient %>">
  <td>
    <%= patient.first_name %>
    <%= patient.last_name %>
  </td>


  <td>
    <%= patient.age %>
  </td>

  <td>
    <%= patient.address %>
  </td>

  <% if can? :manage, patient %>
    <td>
      <%= link_to "View", patient %> | <%= link_to "Edit", edit_patient_path(patient) %> | <%= link_to "Delete", patient, method: :delete %> 
    </td>
  <%end%>

</div>
