<div id="<%= dom_id doctor_appointment %>">
  <p>
    <strong>User:</strong>
    <%= doctor_appointment.user_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= doctor_appointment.patient_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= doctor_appointment.date %>
  </p>

  <p>
    <strong>Illness:</strong>
    <%= doctor_appointment.illness %>
  </p>

</div>
