<div id="<%= dom_id doctor_appointment %>">
  <td>
    <%= doctor_appointment.patient.first_name %>
    <%= doctor_appointment.patient.last_name %>
  </td>

  <td>
    <%= doctor_appointment.date %>
  </td>

  <td>
    <%= doctor_appointment.illness %>
  </td>

</div>
